@model TCSProject.Models.Employee

@{
    if (Session["AdmId"] == null)
    {
        Response.Redirect("~/Employee/Login");
    }
    Layout = null;
}

@{
    if (Session["Id"] == null)
    {
        Response.Redirect("~/Admin/Home");
    }

    string temp = ViewBag.Message;
    TCSProject.Models.Employee emp = new TCSProject.Models.Employee();
    emp = (TCSProject.Models.Employee)Session[temp];

}

<html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet" />

    <link href="~/Content/style.css" rel="stylesheet" />
</head>

<body>

    <div class="container text-center">

        <div class="row pt-2">
            
            <div class="col">

            </div>
            <div class="col text-center">
                <input id="slider" class="customSlider" type="checkbox">
                <label for="slider"></label>

                <div class="wrapper">
                    <div class="top-icons">
                        <i class="fas fa-long-arrow-alt-left"></i>
                        <i class="fas fa-ellipsis-v"></i>
                        <i class="far fa-heart"></i>
                    </div>

                    <div class="profile">
                        <img src="~/Images/profile.png" class="thumbnail" />
                        <div class="check"><i class="fas fa-check"></i></div>
                        <h3 class="name">@Html.DisplayFor(model => emp.FirstName) @Html.DisplayFor(model => emp.LastName)</h3>
                        <p class="description"><strong>Employee ID :</strong> @Html.DisplayFor(model => emp.EmpId)</p>
                        <p class="description"><strong>Email       :</strong> @Html.DisplayFor(model => emp.Email)</p>
                        
                    </div>

                    <div class="social-icons">
                        <div class="icon">
                            <a href="/"><i class="fab fa-dribbble"></i></a>
                            <h4>12.8k</h4>
                            <p>Followers</p>
                        </div>

                        <div class="icon">
                            <a href="#"><i class="fab fa-behance"></i></a>
                            <h4>12.8k</h4>
                            <p>Followers</p>
                        </div>

                        <div class="icon">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <h4>12.8k</h4>
                            <p>Followers</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col text-center  ">


                <div class="wrapper">
                    <div class="top-icons">
                        <i class="fas fa-long-arrow-alt-left"></i>
                        <i class="far fa-clock"></i>
                        <i class="fas fa-laptop-code"></i>
                    </div>
                    <div class="profile">
                        <img src="~/Images/project.png" class="thumbnail" />
                        
                        <h3 class="name">@Html.DisplayFor(model => emp.ProjectDetails)</h3>
                        <p class="description"><strong>Project ID :</strong> @Html.DisplayFor(model => emp.ProjectId)</p>
                        <p class="description"><strong>WON Number       :</strong> @Html.DisplayFor(model => emp.WONNumber)</p>
                        <p class="description"><strong>Description :</strong></p>
                        <p class="description">This is a project description paragraph. The synopsis of the project is displayed here. The card left to this shows the employee details.</p>

                    </div>


                </div>
            </div>

            <div class="col">

            </div>

        </div>

        


    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
