@model TCSProject.Models.Employee

@{
    Layout = null;
    if (Session["EmpId"] == null)
    {
        Response.Redirect("~/Employee/Login");
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col">
                <h4>Welcome @Session["EmpId"] !</h4>
            </div>
            <div class="col mr-auto">
                 
            </div>
            <div class="col-lg-2">
                <a href="@Url.Action("Logout","Employee")">Logout</a>
            </div>
        </div>
        <div class="pt-5">
            <table class="table table-hover table-bordered">
                <tr style="        background: #6fcf99;"><th>Employee</th><th>Details</th></tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.EmpId)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.EmpId)
                    </td>
                </tr>
                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.FirstName)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.FirstName)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.LastName)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.LastName)
                    </td>
                </tr>


                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.Email)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.Email)
                    </td>
                </tr>


                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.ProjectId)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.ProjectId)
                    </td>
                </tr>

                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.WONNumber)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.WONNumber)
                    </td>
                </tr>


                <tr>
                    <td>
                        @Html.DisplayNameFor(model => model.ProjectDetails)
                    </td>

                    <td>
                        @Html.DisplayFor(model => model.ProjectDetails)
                    </td>
                </tr>


            </table>
        </div>
    </div>

</body>
</html>
